<div class="container-aside">
	<img src="../images/logo-sutran.png" alt="Sutran">
	<h1>ViajeSeguro</h1>

	<p>M&oacute;dulos</p>
	<ul class="modulos">
		<li class="menu-item menu-dashboard">
			<a href="../views/dashboard.html">
				<i class="fas fa-cube" aria-hidden="true"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<li class="menu-item menu-usuarios">
			<a href="../views/usuarios.html">
				<i class="fas fa-user-alt" aria-hidden="true"></i>
				<span>Usuarios</span>
			</a>
		</li>
		<li class="menu-item menu-base">
			<a href="../views/base.datos.html">
				<i class="fas fa-database" aria-hidden="true"></i>
				<span>Base de datos</span>
			</a>
		</li>
		<li class="menu-item menu-alertas">
			<a href="../views/alertas.html">
				<i class="fas fa-exclamation-circle" aria-hidden="true"></i>
				<span>Alertas</span>
			</a>
		</li>
		<li class="menu-item menu-messages">
			<a href="../views/bandeja.html">
				<i class="fas fa-envelope" aria-hidden="true"></i>
				<span>Bandeja de entrada</span>
			</a>
		</li>
	</ul>
</div>