<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>ViajeSeguro</title>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../styles/main.css">
	<script src="https://kit.fontawesome.com/b7219096b7.js" crossorigin="anonymous"></script>
</head>
<body id="dashboard-page">
	
	<aside></aside>

	<main>

		<header></header>

		<div class="content">
			<div class="box description">
				<h1>Hola, Jorge Gonzáles.</h1>
				<p>Bienvenido al administrador de la aplicaci&oacute;n ViajeSeguro, en este m&oacute;dulo podr&aacute;s cargar o descargar la información de agencias, empresas de transporte y rutas de la aplicaci&oacute;n ViajeSeguro.</p>
			</div>
			<div class="box modules">

				<!-- <div class="transporte">
					<p>
						<i class="fas fa-bus" aria-hidden="true"></i>
						<span>Empresas de transporte</span>
					</p>
					<div class="opciones">
						<button type="button" class="button-white">Cargar</button>
						<button type="button" class="button-blue">Descargar</button>
					</div>
				</div>

				<div class="agencias">
					<p>
						<i class="fas fa-map-marker-alt" aria-hidden="true"></i>
						<span>Agencias</span>
					</p>
					<div class="opciones">
						<button type="button" class="button-white">Cargar</button>
						<button type="button" class="button-blue">Descargar</button>
					</div>
				</div>

				<div class="rutas">
					<p>
						<i class="fas fa-directions" aria-hidden="true"></i>
						<span>Rutas</span>
					</p>
					<div class="opciones">
						<button type="button" class="button-white">Cargar</button>
						<button type="button" class="button-blue">Descargar</button>
					</div>
				</div> -->
				
				<a href="../views/dashboard.html">
					<i class="fas fa-cube"></i>
					<span class="title">Dashboard</span>
					<span class="description">Accede a los diferentes m&oacute;dulos del administrador</span>
				</a>
				<a href="../views/usuarios.html">
					<i class="fas fa-user-alt"></i>
					<span class="title">Usuarios</span>
					<span class="description">Visualiza o descarga la informaci&oacute;n de usuarios registrados en la plataforma ViajeSeguro.</span>
				</a>
				<a href="../views/base.datos.html">
					<i class="fas fa-database"></i>
					<span class="title">Base de datos</span>
					<span class="description">Visualiza, descarga o edita la informaci&oacute;n de agencias, empresas de transporte y rutas de la aplicaci&oacute;n ViajeSeguro.</span>
				</a>
				<a href="../views/alertas.html">
					<i class="fas fa-exclamation-circle"></i>
					<span class="title">Alertas</span>
					<span class="description">Visualiza, descarga o gestiona las generadas en la aplicaci&oacute;n ViajeSeguro.</span>
				</a>
				<a href="../views/alertas.html">
					<i class="fas fa-envelope"></i>
					<span class="title">Bandeja de entrada</span>
					<span class="description">Visualiza, gestiona o responde los mensajes generados en la aplicaci&oacute;n ViajeSeguro.</span>
				</a>
			</div>
		</div>
		
	</main>

	<script type="text/javascript" src="../scripts/jquery.js"></script>
	<script type="text/javascript" src="../scripts/main.js"></script>
	
</body>
</html>