@import 'global.scss';

body { background-color: #F2F2F2; }

#login-page {
	background: radial-gradient($blue, $darkblue);
	min-height: 100vh;
	.brands {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 30px;
		@media screen and (max-width: 450px) {
			flex-direction: column;
			img:first-child { order: 2; }
		}
	}
	.content {
		height: 100%;
		min-height: calc(100vh - 99px);
		display: flex;
		align-items: center;
		justify-content: center;
		@media screen and (max-width: 450px) {
			min-height: calc(100vh - 135px);
		}
		#form-login {
			max-width: 360px;
			width: 100%;
			padding: 30px;
			.pre {
				display: block;
				text-align: center;
				font-size: 10px;
				color: $white;
				opacity: 0.4;
			}
			h1 {
				color: $white;
				font-size: 18px;
				font-weight: 600;
				letter-spacing: 3px;
				display: block;
				text-align: center;
				margin-top: 5px;
				margin-bottom: 20px;
			}
			.textfield {
				border-color: rgba(255,255,255,0.3);
				&:not(:last-child) { margin-bottom: 15px; }
				.placeholder { left: 40px; }
				input {
					padding-left: 0;
					color: $white;
				}
				&.focus {
					border-color: $white;
					.fas { color: $white }
					.placeholder { color: $white; }
				}
			}
			.checkbox {
				padding: 0 15px;
				display: flex;
				align-items: center;
				cursor: pointer;
				input { display: none; }
				.far, .fas {
					color: rgba(255,255,255,0.6);
					font-size: 16px;
					margin-right: 5px;
					transition: $fast;
				}
				span {
					color: rgba(255,255,255,0.6);
					font-size: 11px;
					user-select: none;
				}
				&:active {
					.far, .fas { transform: scale(0.9); }
				}
				&.checked {
					.far, .fas { color: $white; }
				}
			}
			button {
				display: block;
				margin: auto;
				margin-top: 30px;
				line-height: 40px;
				padding: 0 30px;
				appearance: none;
				border-radius: 10px;
				font-size: 11px;
				color: $blue;
				font-weight: 600;
				border: none;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,0.6);
				transition: $fast;
				outline: none;
				cursor: pointer;
				&:active { transform: scale(0.95); }
			}
		}
	}
}

aside {
	width: 270px;
	.container-aside {
		background-color: $blue;
		height: calc(100vh - 20px);
		margin: 10px 0 10px 10px;
		border-radius: 10px;
		padding: 10px 0;
		box-shadow: $shadow;
		position: fixed;
		width: 250px;
	}
	img {
		margin: auto;
		display: block;
	}
	h1 {
		color: $white;
		font-size: 12px;
		letter-spacing: 2px;
		font-weight: 600;
		display: block;
		text-align: center;
		margin-bottom: 30px;
	}
	p {
		font-size: 10px;
		color: rgba(255,255,255,0.6);
		text-transform: uppercase;
		padding: 0 20px;
		margin-bottom: 15px;
	}
	.modulos {
		list-style: none;
		overflow: auto;
		.menu-item {
			a {
				color: rgba(255,255,255,0.6);
				text-decoration: none;
				padding: 12px 20px;
				display: block;
				transition: $fast;
				span { color: inherit; }
				.fas {
					color: inherit;
					margin-right: 5px;
					vertical-align: middle;
				}
				&:hover {
					color: $white;
					background-color: rgba(255,255,255,0.1);
				}
			}
			&.active {
				background-color: $white;
				span, .fas { color: $blue }
			}
		}
	}
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	a {
		font-size: 10px;
		color: rgba(0,0,0,0.35);
		display: flex;
		align-items: center;
		text-decoration: none;
		font-weight: 600;
		i {
			font-size: 12px;
			margin-right: 3px;
			color: inherit;
		}
	}
	.user {
		display: flex;
		align-items: center;
		.name {
			text-align: right;
			margin-right: 10px;
			strong {
				font-size: 13px;
				color: $blue;
				display: block;
			}
			span {
				font-size: 11px;
				color: rgba(0,0,0,0.5);
			}
		}
		.initials {
			display: block;
			width: 50px;
			line-height: 48px;
			border: 1px solid $borderColor;
			border-radius: 50%;
			font-size: 17px;
			font-weight: 800;
			text-align: center;
			color: $blue;
		}
	}
}

body:not(#login-page) {
	display: flex;
	main {
		padding: 10px 40px;
		width: calc(100% - 250px);
		.content { padding: 20px 0 70px 0; }
	}
}

#dashboard-page {
	.content {
		padding: 20px 0;
		.modules {
			display: flex;
			flex-wrap: wrap;
			a {
				border-radius: 10px;
				box-shadow: $shadow;
				padding: 20px;
				text-align: left;
				width: calc(100% / 5 - 80px / 5);
				border: none;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				cursor: pointer;
				background-color: $white;
				transition: $fast;
				text-decoration: none;
				&:not(:nth-child(5n)) { margin-right: 20px; }
				@media (hover: hover) {
					&:hover { background-color: $hover; }
				}
				.fas {
					display: block;
					font-size: 18px;
					color: $blue;
					margin-bottom: 10px;
				}
				.title {
					font-weight: 600;
					margin-bottom: 5px;
				}
				* { pointer-events: none; }
			}
		}
		// .modules {
		// 	& > div {
		// 		display: flex;
		// 		align-items: center;
		// 		justify-content: space-between;
		// 		width: 100%;
		// 		padding: 30px 0;
		// 		&:not(:last-child) { border-bottom: 1px solid $borderColor; }
		// 		.fas {
		// 			color: $blue;
		// 			font-size: 24px;
		// 			display: block;
		// 			margin-bottom: 10px;
		// 		}
		// 		span { font-weight: 600; }
		// 		.opciones {
		// 			button:first-child { margin-right: 10px; }
		// 		}
		// 	}
		// }
	}
}

#base-datos-page {
	.content {
		.modules {
			.tabs {
				display: inline-flex;
				.tab {
					border-radius: 10px 10px 0 0;
					width: 150px;
					padding: 15px;
					background-color: $blue;
					border: none;
					appearance: none;
					cursor: pointer;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					outline: none;
					transition: $fast;
					box-shadow: $shadow;
					& > * { pointer-events: none; }
					&.active {
						background-color: $white;
						.fas, span { color: $blue }
					}
					&:not(:last-child) { margin-right: 5px; }
					@media (hover: hover) {
						&:not(.active):hover { background-color: $darkblue; }
					}
					.fas {
						color: rgba(255,255,255,0.6);
						margin-bottom: 8px;
					}
					span {
						font-size: 12px;
						font-weight: 500;
						color: rgba(255,255,255,0.6);
						text-align: left;
					}
				}
			}
			.box {
				border-top-left-radius: 0;
				position: relative;
				.tab-content {
					display: none;
					.download {
						position: absolute;
						right: 30px;
						top: 51px;
					}
					&.tab-content-active {
						display: block;
					}
				}
			}
		}
	}
}

.box.description {
	padding: 30px;
	.back {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		font-size: 10px;
		color: $blue;
		font-weight: 600;
		margin-bottom: 20px;
		.fas {
			color: inherit;
			font-size: 12px;
			margin-right: 5px;
		}
	}
	h1 {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 10px;
	}
	& > div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.button-blue { margin-left: 30px; }
	}
}

#alertas-page {
	.alert-detail {
		display: none;
		h2 {
			margin-bottom: 20px;
			font-size: 14px;
			font-weight: 700;
		}
		.map-container {
			width: 100%;
			height: 450px;
			#map {
				display: block;
				height: 100%;
				width: 100%;
			}
			p {
				margin: 0;
				line-height: 24px;
				font-size: 12px;
				strong {
					font-size: inherit;
					font-weight: 700;
				}
			}
		}
		.row-button { margin-top: 30px; }
	}
}

#messages-page {
	.reply {
		border-top: 1px solid $borderColor;
		margin-top: 50px;
		padding-top: 40px;
		h3 { margin-bottom: 15px; }
	}
}